*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    position:relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
}
nav{
    display: flex;
    width: 74%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 4px 20px;
    font-size: 14px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    background-color: #f8f8f8;
}
nav ul li a:hover{
    color:rgba(16, 201, 242, 0.988);
}

.details{
    margin-left: 8%;
    margin-top: 8%;
    font-size: 24px;
}
.details h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 10px;
}
span{
    color:rgba(16, 201, 242, 0.988)
}
.details p{
    color: #555;
    line-height: 22px;
}
.detail a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px o;
    border-radius: 5px;
}
.hero img{
    border-radius: 68px;
}
.details a:hover{
    color: rgb(94, 117, 150);
}
body{
    font-size: Arial, sans-serif;
    transition: background-color 0.5s, color 0.5s;
}
body[data-theme='dark']{
    background-color: #333;
    color:#fff;
}
.links img{
    width: 30px;
    height: 30px;
    padding-left: 80px;
    margin: 2px;
    
}
footer{
    text-align: center;
    color:black;
}